<a href="https://colab.research.google.com/github/olusolaag/AI-ML-Projects-2021/blob/main/simple_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Simple recommender system using IMDB dataset

In [1]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
from google.colab import files
files.upload()

{}

In [3]:
%ls

kaggle.json  sample_data/

In [4]:
!pip install -q kaggle

In [5]:
!mkdir -p ~/.kaggle

In [6]:
!cp kaggle.json ~/.kaggle

In [7]:
!ls ~/.kaggle

kaggle.json

In [8]:
!chmod 600 /root/.kaggle/kaggle.json

In [9]:
!mkdir imdbdata

In [10]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 97% 220M/228M [00:03<00:00, 62.2MB/s]
100% 228M/228M [00:03<00:00, 61.6MB/s]

In [11]:
!unzip "/content/the-movies-dataset.zip" -d /content/imdbdata

Archive:  /content/the-movies-dataset.zip
  inflating: /content/imdbdata/credits.csv
  inflating: /content/imdbdata/keywords.csv
  inflating: /content/imdbdata/links.csv
  inflating: /content/imdbdata/links_small.csv
  inflating: /content/imdbdata/movies_metadata.csv
  inflating: /content/imdbdata/ratings.csv
  inflating: /content/imdbdata/ratings_small.csv

In [12]:
!rm -r "/content/the-movies-dataset.zip"

In [13]:
import pandas as pd
import numpy as np

In [14]:
credits_df = pd.read_csv('/content/imdbdata/credits.csv')

In [15]:
credits_df.shape

(45476, 3)

In [16]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [17]:
credits_df.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [18]:
cast= credits_df['cast'][0]
cast

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [19]:
movies_df = pd.read_csv('/content/imdbdata/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
movies_df.shape

(45466, 24)

In [21]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [22]:
# movies_df['budget'] = movies_df['budget'].astype('float') returns Value error due to presense of /zaSf5OG7V8X8gqFvly88zDdRm46.jpg'
#in one its rows

In [23]:
# function to conert to float manually
def to_float(x):
  try:
    x = float(x)
  except:
    x = np.nan
  return x

In [24]:
# convert budjet of type object to float type
movies_df['budget'] = movies_df['budget'].apply(to_float)

In [25]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45463 non-null  float64
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(5), object(19)
memory usage: 8.3+ MB

In [26]:
movies_df['release_date'][1]

'1995-12-15'

In [27]:
#create a new feature call year 
#Convert release_date into pandas datetime format
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')

#Extract year from the datetime
movies_df['year'] = movies_df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

#Display the DataFrame with the new 'year' feature
movies_df.head(2)

   adult                              belongs_to_collection  ...  vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...      5415.0  1995
1  False                                                NaN  ...      2413.0  1995

[2 rows x 25 columns]

In [28]:
# sort movie according to revenue
movies_df = movies_df.sort_values('revenue', ascending=False)
movies_df.head(2)

       adult  ...  year
14551  False  ...  2009
26555  False  ...  2015

[2 rows x 25 columns]

In [29]:
#number of movies released each year
movies_df['year'].value_counts()

2014    1974
2015    1905
2013    1889
2012    1722
2011    1667
        ...
1874       1
1893       1
2020       1
1887       1
1883       1
Name: year, Length: 136, dtype: int64

In [30]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 14551 to 35587
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45463 non-null  float64
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45376 non-null  datetime64[ns]
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  year                   45466 non-null  object
dtypes: datetime64[ns](1), float64(5), object(19)
memory usage: 9.0+ MB

In [56]:
#SIMPLE RECOMMENDER SYSTEM
'''
The formula used to calculate the top 250 movies is:

weighted rank = (v/(v+m))*R + (m/(v+m))*C

where:

R = average for the movie (mean)
v = number of votes for the movie
m = minimum votes required to be listed in the top 250
C = the mean vote across the whole report '''

'\nThe formula used to calculate the top 250 movies is:\n\nweighted rank = (v/(v+m))*R + (m/(v+m))*C\n\nwhere:\n\nR = average for the movie (mean)\nv = number of votes for the movie\nm = minimum votes required to be listed in the top 250 (currently 25000)\nC = the mean vote across the whole report '

In [31]:
vote_count_80_percentile = movies_df['vote_count'].quantile(0.80)
vote_count_80_percentile

50.0

In [34]:
# create a new dataframe with movies greater or equals 45 minutes
# or less or equals 180 minutes
new_movies_df = movies_df[(movies_df['runtime'] >= 45) & (movies_df['runtime'] <= 180)]

In [37]:
print('before operation: ',movies_df.shape)
print('after operation: ',new_movies_df.shape)
print('number of data removed: ',movies_df.shape[0] - new_movies_df.shape[0])

before operation:  (45466, 25)
after operation:  (41521, 25)
number of data removed:  3945

In [38]:
#reduce data to only those that meets the 80 percentile vote counts
new_movies_df = new_movies_df[new_movies_df['vote_count'] >= vote_count_80_percentile]

In [39]:
new_movies_df.shape

(8877, 25)

In [45]:
#calculate C = the mean rating for all the movies in the dataset
C = movies_df['vote_average'].mean()
my_formatter = "{0:.1f}"
print('average rating of a movie: ',my_formatter.format(C),'/10')

average rating of a movie:  5.6 /10

In [47]:
# Function to compute the IMDB weighted rating for each movie
def weighted_rating(x, m=vote_count_80_percentile, C=C):
  v = x['vote_count']
  R = x['vote_average']
  # Compute the weighted score
  return (v/(v+m) * R) + (m/(m+v) * C)

In [48]:
# Compute the score using the weighted_rating function
new_movies_df['score'] = new_movies_df.apply(weighted_rating, axis=1)

In [53]:
reduced_features_movies_df = new_movies_df[['id','title','year','revenue','vote_average','vote_count','score','runtime']]

In [54]:
# sort movie according to score
reduced_features_movies_df = reduced_features_movies_df.sort_values('score', ascending=False)
reduced_features_movies_df.head(15)

           id                            title  ...     score  runtime
314       278         The Shawshank Redemption  ...  8.482863    142.0
834       238                    The Godfather  ...  8.476278    175.0
40251  372058                       Your Name.  ...  8.366584    106.0
12481     155                  The Dark Knight  ...  8.289115    152.0
2843      550                       Fight Club  ...  8.286216    139.0
292       680                     Pulp Fiction  ...  8.284623    154.0
23673  244786                         Whiplash  ...  8.269704    105.0
5481      129                    Spirited Away  ...  8.266628    125.0
2211      637                Life Is Beautiful  ...  8.263691    116.0
1152      510  One Flew Over the Cuckoo's Nest  ...  8.256051    133.0
1176      539                           Psycho  ...  8.245381    109.0
351        13                     Forrest Gump  ...  8.184252    142.0
1154     1891          The Empire Strikes Back  ...  8.178656    124.0
18465   77338                 The Intouchables  ...  8.176357    112.0
289       101           Leon: The Professional  ...  8.170276    110.0

[15 rows x 8 columns]